[Unit]
Description=Tinfoil Boot Service
After=network-online.target docker.service containerd.service nvidia-persistenced.service nvidia-fabricmanager.service nvidia-cdi-refresh.service nftables.service
Requires=network-online.target docker.service containerd.service nftables.service
Wants=nvidia-persistenced.service nvidia-fabricmanager.service nvidia-cdi-refresh.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tinfoil-boot
User=root
Group=root
StandardOutput=journal+console
StandardError=journal+console
NoNewPrivileges=yes
RestrictSUIDSGID=yes
ProtectHome=yes
LockPersonality=yes
RestrictRealtime=yes
SystemCallArchitectures=native

[Install]
WantedBy=default.target
