.idea/
tools/
tinfoilcvm*
lib/
/bin/
packages/
tinfoil-inference-*
mkosi.cache/*
!mkosi.cache/.gitkeep
venv/
mkosi.tools/
mkosi.tools.manifest
/initrd
initrd.cpio.zst
tinfoil-boot/tinfoil-boot
tinfoil/boot
tinfoil/shim
mkosi.extra/usr/bin/tinfoil-boot
mkosi.extra/usr/bin/tinfoil-egress
mkosi.extra/usr/bin/tinfoil-shim